<head>
    <meta charset="UTF-8">
    <title>Repositories Ranking - GitHub Ranking</title>
    <meta content="GitHub, Star, Ranking" name="keywords">
    <link href="static/img/favicon.ico" rel="shortcut icon">
    <meta name="viewport" content=" initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/datatables/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.bootcss.com/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>-
</head>