<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="/"><i class="fa fa-github-alt"></i> GitHub Ranking
        </a>
    </div>

    <div class="navbar-collapse collapse" id="navbar-main">

        <ul class="nav navbar-nav">
            <li>
                <a href="/users">Users</a>
            </li>
            <li class="active">
                <a href="/repositories">Repositories</a>
            </li>
            <!--<li>
                <a href="/organizations">Organizations</a>
            </li>-->
        </ul>
    </div>
</div>