<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>打印模板列表</title>
  <link rel="icon" href="http://anytao.net/favicon.ico">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
</head>

<body style="padding-top:30px;">
    <div id="app">
        <v-app id="inspire">
          <v-data-table
            :headers="headers"
            :items="items"
            :search="search"
            v-model="selected"
            item-key="name"
            select-all
            class="elevation-1"
          >
            <template slot="headerCell" slot-scope="props">
              <v-tooltip bottom>
                <span slot="activator">
                  {{ props.header.text }}
                </span>
                <span>
                  {{ props.header.text }}
                </span>
              </v-tooltip>
            </template>
            <template slot="items" slot-scope="props">
              <td>
                <v-checkbox
                  primary
                  hide-details
                  v-model="props.selected"
                ></v-checkbox>
              </td>
              <td ><a v-on:click.stop="designTemplate()">操作</a></td>
              <td>{{ props.item.templateName }}</td>
              <td>{{ props.item.templateType }}</td>
              <td>{{ props.item.pageTop }}</td>
              <td>{{ props.item.pageLeft }}</td>
              <td>{{ props.item.pageWidth }}</td>
              <td>{{ props.item.pageHeight }}</td>
              <td>{{ props.item.gmt_created }}</td>
              <td>{{ props.item.gmt_updated }}</td>
            </template>
          </v-data-table>
        </v-app>
      </div>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
  <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
  <script>
  var app=new Vue({
  el: '#app',
  data () {
    return {
      search: '',
      selected: [],
      headers: [
        {
          text: '操作',
          align: 'left',
          sortable: false,
          value: 'operate'
        },
        {
          text: '模板名称',
          align: 'left',
          sortable: false,
          value: 'name'
        },
        { text: '模板类型', value: 'templateType' },
        { text: '上偏移量(mm)', value: 'pageTop' },
        { text: '左偏移量(mm)', value: 'pageLeft' },
        { text: '纸张宽度(mm)', value: 'pageWidth' },
        { text: '纸张高度(mm)', value: 'pageHeight' },
        { text: '创建时间', value: 'gmt_created' },
        { text: '更新时间', value: 'gmt_updated' }
      ],
      items: []
    }
  },
  mounted:function(){
    axios.get('/print/getListData').then(function(result){
        app.items = result.data.data;
    });
  },
  methods:{
    designTemplate:function(){
      console.log('设计');
    }
  }
})
  </script>
</body>

</html>