<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>打印模板列表</title>
  <link href="https://cdn.bootcss.com/minireset.css/0.0.2/minireset.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/material-design-lite/1.3.0/material.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
  <div style="padding-top:30px;"> 
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" width="100%">
      <thead>
        <tr>
          <th>操作</th>
          <th class="mdl-data-table__cell--non-numeric">模板名称</th>
          <th>模板类型</th>
          <th>上偏移量(mm)</th>
          <th>左偏移量(mm)</th>
          <th>纸张宽度(mm)</th>
          <th>纸张高度(mm)</th>
          <th>创建人</th>
          <th>创建时间</th>
          <th>备注</th>
        </tr>
      </thead>
      <tbody>
          <% for(var i=0; i<lists.length; i++) {%>
          <tr>
          <td>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
              设计
            </button>
          </td>
          <td class="mdl-data-table__cell--non-numeric"><%= lists[i].templateName %></td>
          <td><%= lists[i].templateType%></td>
          <td><%= lists[i].pageTop%></td>
          <td><%= lists[i].pageLeft%></td>
          <td><%= lists[i].pageWidth%></td>
          <td><%= lists[i].pageHeight%></td>
          <td>$2.90</td>
          <td><%= lists[i].gmt_created%></td>
          <td>备注</td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <script src="https://cdn.bootcss.com/material-design-lite/1.3.0/material.min.js"></script>
</body>
</html>