<!DOCTYPE html>
<html>
<%include inc/header.html%>

    <body>
        <%include inc/nav.html%>
            <div class="container">

                <table id="repositories" class="uk-table uk-table-hover uk-table-striped" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Name</th>
                            <th>Html_url</th>
                            <th>Stars</th>
                            <th>Language</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i<items.length; i++) {%>
                            <tr>
                                <td></td>
                                <td>
                                    <%= items[i].name %>
                                </td>
                                <td>
                                    <%= items[i].html_url %>
                                </td>
                                <td>
                                    <%= items[i].stargazers_count %>
                                </td>
                                <td>
                                    <%= items[i].language %>
                                </td>
                                <td>
                                    <%= items[i].description %>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
            <%include inc/footer.html%>
            <script src="//twemoji.maxcdn.com/2/twemoji.min.js?11.3"></script>
            <script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				var repositories=$('#repositories').DataTable({
                     columnDefs: [{
                        "searchable": false,
                        "orderable": false,
                        "targets": 0
                    },
                    {
                         targets: [2],
                         render: function (data, type, full, meta) {
                             return '<a href="' + data + '" target="_blank">' + data + '</a>';
                         }
                     },
                     {
                         targets: [5],
                         render: function (data, type, full, meta) {
                             return twemoji.parse(data)
                         }
                     }                        
                    ],
                    paging:false,
                    order: [[ 3, 'desc' ]],
                    info:false
                });

                 repositories.on('order.dt search.dt',
                    function() {
                        repositories.column(0, {
                            search: 'applied',
                            order: 'applied'
                        }).nodes().each(function(cell, i) {
                            cell.innerHTML = i + 1;
                        });
                    }).draw();
			});
		</script>
    </body>

</html>